@model IEnumerable<WebsiteAssignmentNew.Models.Artist>

@{
    ViewBag.Title = "Index";
}

<h2 id="pageTitle">Artist</h2>

@foreach (var Artist in Model)
{
    <div class="fade">
        <div id="artistForEach">
            <div id="artistBKColor">

                <div class="container">
                    <div class="row">

                        <div class="col-md-6">

                            <img id="artistImg" src="~/Content/ArtistImg/@Artist.ArtistImg" />
                            <h4 id="artistName">@Html.ActionLink(@Artist.ArtistName, "Index", "Tracks")</h4>
                        </div>
                        <div class="col-md-6">
                            <h4>Releases by this Artist</h4>

                            <p>@Html.ActionLink(@Artist.Title, "Index", "Tracks") </p>
                           <h4>About This Artist</h4>
                            <p>Sed felis libero, finibus sed mollis quis, euismod et nibh. Morbi quis augue faucibus, varius justo id, congue leo. Donec a sodales nibh. Sed eget blandit justo, vel luctus turpis. Etiam vel cursus dolor. Integer consectetur enim eu mattis cursus. Nulla euismod efficitur nisl, ac condimentum lectus viverra in. </p>
                            @*<p>@Track.TrackImage</p>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
